build
*.txt.user*
*.aux
*.auxlock
*.bbl
*.blg
*.out
*.log
*.thm
*.synctex.gz
latex/student-projects/prj-ssc-partial-optimality-figure*
latex/student-projects/prj-ssc-partial-optimality.pdf
latex/student-projects/prj-ssc-local-search-figure*
latex/student-projects/prj-ssc-local-search.pdf
latex/phd-project/article.pdf
latex/linearization/draft.pdf
latex/persistency/persistency.pdf
latex/notes/hypercycle.pdf
/cmake-build-debug
.idea
